<div class="fn-ml20 fn-mr20">
    <table class="m-table m-table-list fn-tac">
        <thead>
            <tr>
                <th>任务名称</th>
                <th>步骤名称</th>
                <th width="80px">发起人</th>
                <th width="150PX">接收时间</th>
                <th width="150PX">持续时间</th>
                <th width="50px">操作</th>
            </tr>
        </thead>
        <tbody>
            #foreach($!task in $!page.result)
                <tr>
                    <td>
                        #if($!task.subjectView)
                            $!task.subjectView
                        #else
                            $!task.subject
                        #end
                    </td>
                    <td>$!task.name</td>
                    <td>$!task.creator</td>
                    <td>$!dateUtil.simpleFormat($!task.createTime)</td>
                    <td>$!dateUtil.getDurationTime($!task.createTime)</td>
                    <td>
                        #if($!stringUtil.isNotBlank($!{task.taskUrl}))
                            <a href="/userHome/taskDistributor.htm?taskId=$!{task.id}&processInstanceId=$!{task.processInstanceId}&processDefinitionId=$!{task.processDefinitionId}&taskUrl=$!{task.taskUrl}">处理</a>
                        #end
                    </td>
                </tr>
               #set($i=$i+1)
            #end
        </tbody>
    </table>
    #set($withOutJubmBtn = true)
    #parse("/layout/common/pages.vm")
</div>
<script>
//代办任务分页
    toPage = function(totalPage, pageNo) {
        if (totalPage < pageNo) {
            return false;
        }
        $('#taskList').load("/userHome/taskList.htm", {
            'pageNumber': pageNo
        });
    }
</script>