<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
#parse("/layout/common/head.vm")
<link type="text/css" href="/styles/tmbp/project4.css" rel="stylesheet">
<title></title>
</head>
<body>

<div class="ui-breadcrumb">
    &nbsp;结算管理&nbsp;&gt;&nbsp;结算清单&nbsp;&gt$!{info.type}编辑
</div>

<div class="m-main border ui-bg-fff">
    <form id="form" action="/insurance/billSettlementApply/editSubmit.json" method="POST" callbackhref="/insurance/billSettlementApply/list.htm" process="true">
 	#parse("/layout/insurance/billSettlementApply/viewBillSettlementApply2.vm")
        <div class="m-blank fn-mt20 fn-mb20"></div>
        <div class="fn-tac fn-pt20 fn-pb20">
      	    <input class="ui-btn ui-btn-submit ui-btn-next fn-ml5 fn-mr5 submitBtn" type="button" value="提交">
            <a href="/insurance/billSettlementApply/list.htm" class="ui-btn ui-btn-submit ui-btn-back fn-ml5 fn-mr5">返回</a>
        </div>

    </form>

</div>

#parse("/layout/common/footer.vm")
#parse("/layout/common/commonjs.vm")
#parse("/layout/common/commonue.vm")
<script src="/js/laydate/laydate.js"></script>
<script>
    seajs.use($_GLOBAL.zyw+'/businessBill/addBusinessBill.js');
    
      $(function(){
		
		$("#generationFee").blur(function(){
			var result = $("#commonVal").html()*1;
			var generationFee = $("#generationFee").val()*1;
			if(result-generationFee < 0 ){
			  $("#generationFee").val(result);
			  $("#serviceFee").val(result-generationFee).blur();
			} else {
				$("#serviceFee").val(result-generationFee).blur();
			};
		});
		
		$("body").on('blur','.generationFee',function(){
			   var $this = $(this);
			   var _val = $this.val()*1;
			   var $serviceFee =  $this.parents('tr').find('[name*=serviceFee]').val()*1;
			   var $payFee =  $this.parents('tr').find('[name*=payFee]')
			  var shouldPayFee = calcShouldPayFee(_val,$serviceFee);
			  $payFee.val(shouldPayFee);
			  
			   var $withholdTaxes = $this.parents('tr').find('[name*=withholdTaxes]');
			   if (shouldPayFee - $withholdTaxes.val() < 0) {
			      $withholdTaxes.val(shouldPayFee);
			   } else {
			     var $actualPayFee = $this.parents('tr').find('[name*=actualPayFee]');
			     var fee = calcActualPayFee(shouldPayFee,$withholdTaxes.val());
			     $actualPayFee.val(fee);
			   }
		});
		
		$("body").on('blur','.serviceFee',function(){
			   var $this = $(this);
			   var _val = $this.val()*1;
			   var $generationFee =  $this.parents('tr').find('[name*=generationFee]').val()*1;
			   var $payFee =  $this.parents('tr').find('[name*=payFee]')
			  var shouldPayFee = calcShouldPayFee(_val,$generationFee);
			  $payFee.val(shouldPayFee);
			  
			    var $withholdTaxes = $this.parents('tr').find('[name*=withholdTaxes]');
			   if (shouldPayFee - $withholdTaxes.val() < 0) {
			      $withholdTaxes.val(shouldPayFee);
			   } else {
			     var $actualPayFee = $this.parents('tr').find('[name*=actualPayFee]');
			     var fee = calcActualPayFee(shouldPayFee,$withholdTaxes.val());
			     $actualPayFee.val(fee);
			   }
		});
		
		
		$("body").on('blur','.withholdTaxes',function(){
			   var $this = $(this);
			   var _val = $this.val()*1;
			   var $actualPayFee = $this.parents('tr').find('[name*=actualPayFee]');
			   var $payFee =  $this.parents('tr').find('[name*=payFee]').val()*1;
			   var actualPayFee = calcActualPayFee($payFee,_val);
			   if ($payFee - _val < 0) {
			  	 $this.val($payFee);
			   } else {
			 	  $actualPayFee.val(actualPayFee);
			   }
		});
		
		
	});
		function calcShouldPayFee(a,b) {
			return a+b;
		}
		
		function calcActualPayFee(a,b) {
			return a-b;
		}
</script>

</body>
</html>