<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
#parse("/layout/common/head.vm")
<title>出错啦~</title>
</head>
<body>

<div class="m-main ui-bg-fff">

    <div class="ui-page-error business">
        <h1 class="title">$!{ex.errorMsg}</h1>
        <p class="text">您可以通过以下方式继续访问……</p>
        <p><a href="/" target="_top" class="ui-btn ui-btn-submit ui-btn-next">返回首页</a></p>
    </div>

</div>

#parse("/layout/common/footer.vm")

## #parse("/layout/common/commonjs.vm")

<script>
    //seajs.use($_GLOBAL.zyw+'/project/bfcg.cgnt.list');
</script>

</body>
</html>