<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:osgi="http://www.springframework.org/schema/osgi"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/osgi http://www.springframework.org/schema/osgi/spring-osgi.xsd
         http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	default-autowire="byName">
	
	<context:annotation-config />
	
	<bean id="extraDAO" class="com.born.insurance.ibatis.IbatisExtraDAO" parent="baseSqlMapClientDAO"/>
	<bean id="busiDAO" class="com.born.insurance.ibatis.IbatisBusiDAO" parent="baseSqlMapClientDAO"/>
	<bean id="operationJournalDAO" class="com.born.insurance.ibatis.IbatisOperationJournalDAO" parent="baseSqlMapClientDAO"/>

	<!-- ======================================================================== -->
    <!-- 								 gen DAO            				      -->
    <!-- ======================================================================== -->
#foreach ($table in $plugin.sortedTables)
#set ($parent = "baseSqlMapClientDAO")
#if (${table.isAutoSwitchDataSrc})
#set ($parent = "autoSwitchDataSrcBaseSqlMapClientDAO")
#end
    <bean id="${table.beanName}DAO" class="${table.package}.ibatis.Ibatis${table.baseClassName}DAO" parent="$parent"/>
#end

</beans>
