#set ($baseClass = "org.springframework.orm.ibatis.support.SqlMapClientDaoSupport")
#if (${table.isAutoSwitchDataSrc})
#set ($baseClass = "com.iwallet.biz.dal.common.AutoSwitchDataSrcSqlMapClientDaoSupport")
#end
#set ($base = "SqlMapClientDaoSupport")
#if (${table.isAutoSwitchDataSrc})
#set ($base = "AutoSwitchDataSrcSqlMapClientDaoSupport")
#end
#parse("copyright.vm")
package ${table.ibatisPackage};

import $baseClass;
import ${table.qualifiedDAOClassName};

#set ($haveList=0)
#set ($haveMap=0)

// auto generated imports
#foreach($importClass in $table.daoImports) 
import $importClass;
#if($importClass=="java.util.List")
	#set ($haveList=1)
#elseif($importClass=="java.util.Map")
	#set ($haveMap=1)
#end
#end
#foreach($importClass in $table.ibatisImports)
#if($importClass=="java.util.HashMap" || $importClass=="java.util.Map")
import $importClass;
	#set ($haveMap=1)
#end
#end

/**
 * An ibatis based implementation of dao interface <tt>${table.qualifiedDAOClassName}</tt>.
 *
#parse("description-java.vm")
 */ 
#if($haveList==1 && $haveMap==1)@SuppressWarnings({ "unchecked", "rawtypes" })
#elseif ($haveList==1)@SuppressWarnings("unchecked")
#elseif ($haveMap==1)@SuppressWarnings("rawtypes") #end

public class ${table.ibatisClassName} extends $base implements ${table.DAOClassName} {
#foreach($operation in $table.operations)
#parse("operation/op-${operation.templateSuffix}.vm") #parse("operation/opbody-${operation.templateSuffix}.vm")


#end
}