<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
<link type="text/css" href="/styles/tmbp/project4.css" rel="stylesheet">
</head>
<body>
<div class="fn-blank20"></div>

<div class="m-main border ui-bg-fff">	
		<div class="m-item">
            <label class="m-label">项目名称：</label>
           	<div>$!{info.projectSetupName}</div>
        </div>
        
        
        <div class="m-item">
            <label class="m-label">客户信息：</label>
           	<div>
           	<table class="m-table m-table-list">
                <thead>
                    <tr>
                        <th class="fn-tac">客户名称</th>
                        <th class="fn-tac">证件类型</th>
                        <th class="fn-tac">证件号码</th>
                    </tr>
                </thead>
                <tbody>
		                #foreach ($list in $!{customerList})
			                <tr>
		                        <td class="fn-tac">$list.customerName</td>
		                        <td class="fn-tac">$list.certType</td>
		                        <td class="fn-tac">$list.certNo</td>
		                    </tr>
		                #end
                </tbody>
            </table>
        </div>
      </div>
        
        <div class="m-item">
            <label class="m-label">保险信息：</label>
	           	<div>
	           	 <table class="m-table m-table-list">
	           		<th class="fn-tac">保险信息</th>
		           	#foreach ($infos in $!{catalogInfos})
		           		 <tr>
		                     <td class="fn-tac">$infos.catalogName</td>
		                 </tr>
		           	#end
	                </table>
	            </div>
        </div>
        
         <div class="m-item">
            <label class="m-label">渠道信息：</label>
           	<div>$!{info.channelsUserName}</div>
        </div>
        
        
        <div class="m-item">
            <label class="m-label">申请政策：</label>
           	<div>#if ($!info.proportion_type == 0) 占经纪费比例$!info.proportion %  #else 占保费比例$!info.proportion %  #end</div>
        </div>
        
          <div class="m-item">
            <label class="m-label">申请说明：</label>
           	<div>$!{info.remark}</div>
        </div>
        
         <div class="m-item">
            <label class="m-label">申请人：</label>
           	<div>$!{info.setupUserName}</div>
        </div>
        
        <div class="m-item">
            <label class="m-label">权益人：</label>
           	<div>$!{info.setupUseName}</div>
        </div>
        
        <div class="m-item">
            <label class="m-label">有效期：</label>
           	<div>$dateUtil.formatDay($!{info.beginDate} ) 至  $dateUtil.formatDay($!{info.endDate})</div>
        </div>
        
         <div class="m-item">
            <label class="m-label"><span class="m-required">*</span>附件上传：</label>
            <div class="fnUpAttach">
                #set($attachmentTitle="上传附件")
                #set($attachmentNameAttr="pathName_PROJECT_SET_UP")
                #set($hiddenUrls = $!{hiddenUrls_PROJECT_SET_UP})
                #set($attachments = $!{attaches_PROJECT_SET_UP})
                #parse("/layout/common/uploadAttachment.vm")
            </div>
        </div>
       
       
</div>

</body>
</html>
