<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
#parse("/layout/common/head.vm")
<link type="text/css" href="/styles/tmbp/project1.css" rel="stylesheet">
<title>demo</title>
</head>
<body>
<div class="ui-breadcrumb">
    &nbsp;结算管理&nbsp;&gt;&nbsp;业务员佣金结算
</div>
<form class="m-main border ui-bg-fff" action="/insurance/personCommission/list.htm" id="fnListSearchForm" method="POST">    
    <div class="m-search fn-clear">
        <div class="item">
            业务员姓名
            <input class="ui-text fn-w200 fnInput" type="text" name="businessUserName" value="$!{queryConditions.businessUserName}">
        </div>
         <div class="item">
            证件号码
            <input class="ui-text fn-w200 fnInput" type="text" name="businessUserCertNo" value="$!{queryConditions.businessUserCertNo}">
        </div>
        <br />
                <div class="item">
            手机号码
            <input class="ui-text fn-w200 fnInput" type="text" name="businessUserMobile" value="$!{queryConditions.businessUserMobile}">
        </div>       
                <div class="item">
            业务员类型
             <select name="businessUserType" class="ui-select fn-w200">
             <option value="">请选择</option>
            #foreach ($businessUserType in $!{businessUserType})
            <option value="$!businessUserType.code" #if ($businessUserType.code == $!queryConditions.businessUserType) selected #end >$!{businessUserType.message}</option>
            #end
            </select>
        </div>
        <div class="item">
            <a class="ui-btn ui-btn-fill ui-btn-seek" id="fnListSearchBtn">搜索</a>
        </div>
    </div>
    <div class="fn-pl15 fn-pr15">        
        <div class="fn-mb20 fn-mt20">
        </div>
        <table class="m-table m-table-list fn-tac" id="list" >
            <thead>
                <tr id="fnListSearchTh">
	 	                <th>序号</th>
	 	                <th>业务员</th>
	 	                <th>手机号码</th>
	 	                <th>业务员类型</th>
	 	                <th>佣金收入</th>
	 	                <th>已结算金额</th>
	 	                <th>申请中金额</th>
	 	                <th>未结算金额</th>
	                    <th width="200px">操作</th>
                </tr>
            </thead>
            <tbody class="countArea">
                #foreach($item in $page.result)
               		 #set($balance=$!item.totalAmount.amount - $!item.drawAmount.amount - $!item.applyingAmount.amount)  
                     <tr>
                         <td>$!{velocityCount}</td>
                         <td>$!item.businessUserName</td>
                         <td>$!item.businessUserMobile</td>
                         <td>#if ($item.businessUserType == "internal") 内部业务员 #else 外部业务员 #end</td>
                         <td>$item.totalAmount</td>
                         <td>$item.drawAmount</td>
                         <td>$!item.applyingAmount</td>
                         <td targetname="accountBalance">$balance</td>
						 <td>
							#if($balance>0)
								<a datahref="/insurance/personCommission/edit.json?commissionId=$!item.commissionId&outstandingAmount=$!{balance}" href="javascript:void(0);"  class="chargesBalance">结算申请</a>
								#end
							<a href="/insurance/personCommission/view.htm?commissionId=$!item.commissionId&businessUserId=$!item.businessUserId&businessUserName=$!item.businessUserName" >查看详情</a>
						 </td>
						 ##隐藏数据
						 <td targetname="commissionId" class="fn-hide">$!item.commissionId</td>
                    </tr>
                #end
            </tbody>
        </table>           
        #parse("/layout/common/pages.vm")        
    </div>
</form>
## 申请结算
<script type="text/html" id="CHARGESBALANCE">
    <div class="wnd-wnd wnd-common">
        <div class="wnd-header" title="可拖动"><span class="wnd-title">申请结算</span>
            <a href="javascript:void(0)" class="wnd-close closeBtn" title="关闭"></a>
        </div>
        <form id="form" action="/insurance/personCommission/edit.json"  method="post">
            <div class="wnd-body countResultArea fn-clear">
			<input type="hidden" class="commissionId" name="commissionId">
			<input type="hidden" class="outstandingAmount" name="outstandingAmount" value="$!{balance}">
                <div class="wnd-items wnd-items90">
                    <span class="item-name">未结算金额：</span>
                    <label class="accountBalance"></label>&nbsp;&nbsp;元
                </div>
                <div class="wnd-items wnd-items90">
                    <span class="item-name">申请结算金额：</span>
                    <input type="text" name="applicationSettlementAmount" class="ui-text fn-validate">&nbsp;&nbsp;元
                </div>
            </div>
            <div class="wnd-bottom">
                <a href="javascript:void(0)" class="submit-btn submitBtn">申请提交</a>
                <a href="javascript:void(0)" class="wnd-close close-btn closeBtn">取消</a>
            </div>
        </form>
    </div>
</script>
#parse("/layout/common/footer.vm")
#parse("/layout/common/commonjs.vm")
<script type="text/javascript">
   seajs.use($_GLOBAL.zyw+'/personCommission/personCommission');
</script>
</body>
</html>