<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Cache-Control" content="no-siteapp">
<link rel="shortcut icon" href="/styles/images/favicon.ico">
<link type="text/css" href="/styles/tmbp/webapp.css" rel="stylesheet">