<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    #parse("/layout/common/head.vm")
    <link type="text/css" href="/styles/tmbp/project4.css" rel="stylesheet">
    <title>个人客户</title>
</head>
<body>

<div class="ui-breadcrumb">
    &nbsp;客户管理&nbsp;&gt;&nbsp;个人客户&nbsp;&gt;&nbsp;个人客户详情
</div>

<h2 class="m-h2-title">个人客户详情</h2>

<div class="fn-blank20"></div>

<div class="m-main border ui-bg-fff">
    <div class="fn-mb20 apply-step" id="step">
        <ul class="ul fn-clear">
            <li class="item icon-s1 active" ftf="khjbqk">
                <a href="#khjbqk">
                    <i class="icon icon-s1"></i>
                    <p>客户基本情况</p>
                    <div class="step-line"></div>
                    <div class="step-line2"></div>
                </a>
            </li>
            <li class="item icon-s2" ftf="khlxxx">
                <a href="#khlxxx">
                    <i class="icon icon-s2"></i>
                    <p>客户联系信息</p>
                    <div class="step-line"></div>
                    <div class="step-line2"></div>
                </a>
            </li>
            <li class="item icon-s3" ftf="khglgx">
                <a href="#khglgx">
                    <i class="icon icon-s3"></i>
                    <p>客户关联关系</p>
                    <div class="step-line"></div>
                    <div class="step-line2"></div>
                </a>
            </li>
            <li class="item icon-s4" ftf="lsbdxx">
                <a href="#lsbdxx">
                    <i class="icon icon-s4"></i>
                    <p>历史保单信息</p>
                    <div class="step-line"></div>
                    <div class="step-line2"></div>
                </a>
            </li>
        </ul>
    </div>
    <form action="/insurance/customer/person/save.json" id="form" callbackhref="/insurance/customer/person/list.htm">
        <input class="ui-text fn-w200 fnInput" type="hidden" name="type" id="type" value="insuranceCommission"  />
        <input class="ui-text fn-w90" type="hidden" name="customerId" id="customerId" value="$!{info.customerId}" />
        <input class="ui-text fn-w90" type="hidden" name="userId" id="userId" value="$!{info.userId}" />

        <h2 class="m-htitle fn-mb20" id="khjbqk"><span>客户基本情况</span></h2>
        <div class="m-item">
            <label class="m-label"><span class="m-required">*</span>客户姓名：</label>
            $!{info.customerName}
        </div>

        <div class="m-item">
            <label class="m-label">客户性别：</label>

                #foreach($sex in $!{sexs})
                    #if("$!{info.sex}"=="$!{sex.code}") $!{sex.name} #end
                #end

        </div>

        <div class="m-item">
            <label class="m-label">出生日期：</label>
           $!info.birthDay
        </div>

        <div class="m-item">
            <label class="m-label">民族：</label>
                             $!{info.nation}
        </div>

        <div class="m-item">
            <label class="m-label">职业：</label>
            $!{info.job}
##            <input class="ui-text fn-w200" type="text" name="" value="" />
        </div>
        <div class="m-item itemBox fn-wp90 diyNameBox">
            <label class="m-label">证件信息：</label>
            <div>
                    <div>
                        <table class="m-table itemsList" style="margin: 0 0 20px 0;">
                            <tr class="cardClass">
                                <th class="fn-w100">证件类型</th>
                                <th class="fn-w100">证件号码</th>
                                <th class="fn-w100">证件有效期</th>
                                <th class="fn-w100">上传证件影像</th>
##                                <th class="fn-w100">操作</th>
                            </tr>
                        #foreach($item in $info.certInfos)
                            <tr class="itemLine newItemList" diyname="certOrders">
##                                <td class="fn-w100">证件类型：</td>
                                <td class="fn-tac">
                                      #foreach($certType in $!{certTypeList})
                                             #if("$!{item.certType.code}"=="$!{certType.code}") $!{certType.message} #end
                                      #end
                                  <p>#if("$!{item.certType.code}"=="OTHER")
					                      $!{item.certTypeName}  
					                  #end
					              </p>
                                </td>
##                            </tr>
##                            <tr>
##                                <td class="fn-w100">证件号码：</td>
                                <td class="fn-tac">
                                          $!{item.certNo}
                                </td>
##                            </tr>
##                            <tr>
##                                <td class="fn-w100">证件有效期：</td>
                                <td class="fn-tac">
                                   $!dateUtil.formatDay($!item.certExpDate)
                                   #if($!{item.longTime} == "YES") 永久 #end
                                </td>
##                            </tr>
##                            <tr>
##                                <td class="fn-w100">证件影像：</td>
                                <td class="fn-tac">
                                    <div class="fnUpAttach">
                                        <input class="fnUpAttachVal " type="hidden" name="certPig" value="$!item.hiddenUrls">
                                      <div class="m-attach fnUpAttachUl">

                                            #foreach($item2 in $!{item.commonAttachementList})
                                                #set($pic = false)
                                                #if($!item2.fileName.endsWith(".jpg") || $!item2.fileName.endsWith(".JPG") ||
                                                    $!item2.fileName.endsWith(".png") || $!item2.fileName.endsWith(".PNG") ||
                                                    $!item2.fileName.endsWith(".jpeg") || $!item2.fileName.endsWith(".JPEG") ||
                                                    $!item2.fileName.endsWith(".tiff") || $!item2.fileName.endsWith(".TIFF") ||
                                                    $!item2.fileName.endsWith(".bmp") || $!item2.fileName.endsWith(".BMP"))
                                                    #set($pic = true)
                                                #end
                                                #set($fullStr = $!item2.fileName + "," + $!item2.filePhysicalPath +
                                                    "," + $!item2.requestPath)
                                                #if(!$pic)
                                                    <a title="点击下载" href="/baseDataLoad/downLoad.htm?id=$!item2.attachmentId">
                                    <span class="attach-item fnAttachItem" val="$!{fullStr}">
                                        <i class="icon icon-file"></i>
                                        <span class="fileItems" title="$!{item2.fileName}">$!{item2.fileName}</span>
                                        <span class="attach-del fn-csp fn-usn fnUpAttachDel">&times;</span>
                                    </span>
                                                    </a>
                                                #else
                                                    <span class="attach-item fnAttachItem" val="$!{fullStr}">
                                    <i class="icon icon-img "></i>
                                    <span class="fnAttachView fn-csp fileItems" title="$!{item2.fileName}">$!{item2.fileName}</span>
                                    <span class="attach-del fn-csp fn-usn fnUpAttachDel">&times;</span>
                                </span>
                                                #end

                                            #end

                                        </div>
                                    </div>
                                </td>
##                            </tr>
##                            <tr>
                            </tr>
                        #end
                        </table>
                    </div>


            </div>

        </div>

        <h2 class="m-htitle fn-mb20 fn-mt20" id="khlxxx"><span>客户联系信息</span></h2>

##        <div class="m-item " >
##            <label class="m-label fnChangeLabel">联系地址：</label>
##            $!info.provinceName - $!info.cityName -  $!info.countyName
##        </div>
##
##        <div class="m-item diyNameBox">
##            <label class="m-label">详细地址：</label>
##            <div>
##                    #foreach($item in $info.addressInfos)
##                        <div diyname="addressOrders">
##                            $!{item.way}
##                        </div>
##                    #end
##
##            </div>
##
##            <div style="clear: both"></div>
##        </div>
        <div class="m-item diyNameBox">
            <label class="m-label">地址信息：</label>
            <div class="fn-wp90 itemBox">
                <table class="m-table m-table-list itemsList">
                    <tr>
                        <th>联系地址</th>
                        <th>详细地址</th>
                        <th>操作</th>
                    </tr>
                    <tr diyname="addressOrders">
                        <td class="fn-tac">
                            $!info.provinceName - $!info.cityName -  $!info.countyName
                        </td>
                        <td class="fn-tac">
                            #foreach($item in $info.addressInfos)
                                    $!{item.way}

                            #end
                        </td>
                        <td class="fn-tac">
                            --
                        </td>
                    </tr>
                </table>
            </div>

        </div>


        <div class="m-item">
            <label class="m-label">备注：</label>
            $!{info.remark}
        </div>

        <div class="m-item diyNameBox">
            <label class="m-label">联系电话：</label>
            <div class="fn-wp90 itemBox">
                <table class="m-table m-table-list itemsList">
                    <tr>
                        <th class="fn-tac">电话类型</th>
                        <th class="fn-tac">电话</th>
                    </tr>
                    #if($listUtil.isNotEmpty($info.contactMobileInfos))
                        #foreach($item in $info.contactMobileInfos)

                            <tr diyname="mobileOrders" class="itemLine">
                                <td class="fn-tac">

                                        #foreach($mobileType in $mobileTypes)
                                    #if("$!{item.wayTypeId}"=="$!{mobileType.id}") $mobileType.name #end
                                        #end

                                </td>
                                <input name="type" type="hidden" value="mobile">
                                <td class="fn-tac">
                                   $!item.way
                                </td>

                            </tr>
                        #end

                    #end

                </table>

            </div>
        </div>

        <div class="m-item diyNameBox">
            <label class="m-label">电子邮箱：</label>
            <div class="fn-wp90 itemBox">
                <table class="m-table m-table-list itemsList">
                    <tr>
                        <th class="fn-tac">邮箱</th>
                     </tr>
                    #if($listUtil.isNotEmpty($info.contactEmailInfos))
                        #foreach($item in $info.contactEmailInfos)
                            <tr diyname="emailOrders" class="itemLine">
                                 <td>$!item.way</td>
                            </tr>
                        #end
                    #end
                </table>

            </div>
        </div>

        <div class="m-item diyNameBox">
            <label class="m-label">微信号：</label>
            <div>
                    #foreach($item in $info.contactWeiXinInfos)
                        <div diyname="weixinOrders">
                            $!{item.way}
                        </div>
                    #end
            </div>
            <div style="clear: both"></div>
        </div>
        <div class="m-item diyNameBox">
            <label class="m-label">QQ号：</label>
            <div>

                    #foreach($item in $info.contactQQInfos)
                        <div diyname="qqOrders">
                            $!{item.way}
                        </div>
                    #end

            </div>

            <div style="clear: both"></div>
        </div>
        <div class="m-item">
            <label class="m-label">工作单位：</label>
                    $!{info.company}
        </div>
        <div class="m-item">
            <label class="m-label">  部门：</label>
                $!{info.dept}
        </div>
        <div class="m-item">
            <label class="m-label">  职务：</label>
                $!{info.job}
        </div>
        <div class="m-item diyNameBox" >
            <label class="m-label">  账户信息：</label>
            <div class="fn-wp90 itemBox">
                <table class="m-table m-table-list itemsList">
                    <tr>
                        <th class="fn-tac">账户名称</th>
                        <th class="fn-tac">开户行</th>
                        <th class="fn-tac">账号</th>
                        <th class="fn-tac">备注</th>
                    </tr>

                        #foreach($item in $info.bankInfos)
                            <tr diyname="bankOrders" class="itemLine">
                                <td class="fn-tac">
                                   $!item.bankCardName
                                </td>
                                <td class="fn-tac">
                                   $!item.openBankName
                                </td>
                                <td class="fn-tac">
                               $!item.bankCardNo
                                </td>
                                <td class="fn-tac">
                                    $!item.remark
                                </td>


                            </tr>
                        #end



                </table>
            </div>
        </div>

        <h2 class="m-htitle fn-mb20 fn-mt20" id="khglgx"><span>客户关联关系</span></h2>

        <div class="m-item">
            <label class="m-label">所属业务员：</label>
       $!{info.businessUserName}
            <input type="hidden" name="businessUserId" id="businessUserId" value="$!{info.businessUserId}"/>
        </div>
        <div class="m-item">
            <label class="m-label">推荐人：</label>
       $!{info.refereeName}
            <input type="hidden" name="refereeName" id="refereeName" value="$!{info.businessUserId}"/>
        </div>

        <div class="m-item diyNameBox">
            <label class="m-label">客户关系：</label>
            <div class="fn-wp90 itemBox">
                <table class="m-table m-table-list itemsList">
                    <tr>
                        <th class="fn-tac">与本人关系</th>
                        <th class="fn-tac">姓名</th>
                    </tr>


                    #if($listUtil.isNotEmpty($info.relationInfos))
                        #foreach($item in $info.relationInfos)
                            <tr diyname="relationOrders" class="itemLine">
                                <td class="fn-tac">
                                    #foreach($relationInfos in $customerRelation)
                                            #if("$!{item.typeId}"=="$!{relationInfos.id}") $relationInfos.name #end
                                        #end
                                </td>
                                <input name="relationId" type="hidden" value="0">
                                <td class="fn-tac">
                                 $!item.parentName
                                    <input type="hidden" name="parentId" class="parentIdClass" value="$!item.parentId">
                                                 </td>
                            </tr>
                        #end


                    #end

                </table>
            </div>
        </div>

        <div class="m-item diyNameBox">
            <label class="m-label">单位关系：</label>
            <div class="fn-wp90 itemBox">
                <table class="m-table m-table-list itemsList">
                    <tr>
                        <th class="fn-tac">单位名称</th>
                        <th class="fn-tac">备注</th>
                    </tr>
                        #foreach($item in $info.corpInfos)

                            <tr diyname="corpOrders" class="itemLine">
                                <td>$!{item.way}</td>
                                <td>$!{item.remark}</td>
                            </tr>
                        #end
                </table>
            </div>
        </div>

        <div class="m-item diyNameBox">
            <label class="m-label">跟踪记录：</label>
            <div class="fn-wp90 itemBox">
                <table class="m-table m-table-list itemsList">
                    <tr>
                        <th class="fn-tac">详细内容</th>
                        <th class="fn-tac">记录时间</th>
                    </tr>
                        #foreach($item in $traceInfo)
                            <tr diyname="" class="itemLine">
                                <td class="fn-tac">
                                    $!{item.remark}
                                </td>
                                <td class="fn-tac">
                                    $!dateUtil.simpleFormat($!{item.rawAddTime})
                                </td>
                            </tr>
                        #end
                </table>
            </div>
        </div>

        <h2 class="m-htitle fn-mb20 fn-mt20" id="lsbdxx"><span>历史保单信息</span></h2>
        <div class="m-item diyNameBox">
            <div class="fn-wp90 itemBox">
                <table class="m-table m-table-list itemsList">
                    <tr>
                        <th class="fn-tac">保单号</th>
                        <th class="fn-tac">保险公司</th>
                        <th class="fn-tac">保险险种</th>
                        <th class="fn-tac">保障期间</th>
                        <th class="fn-tac">投保时间</th>
                        <th class="fn-tac">保费（元）</th>
                    </tr>


                        #foreach($item in $info.billInfos)
                            <tr class="itemLine" diyname="billOrders">
                                <td class="fn-tac">$!{item.billNo}</td>
                                <td class="fn-tac">$!{item.insuranceCompanyName}</td>
                                <td class="fn-tac">$!{item.catalogName}</td>
                                <td class="fn-tac">$!{item.beginDate}&nbsp;&nbsp;-&nbsp;&nbsp;$!{item.endDate}</td>
                                <td class="fn-tac">$!{item.insuranceDate}</td>
                                <td class="fn-tac">$!{item.premiumAmount}</td>

                            </tr>
                        #end


                </table>
##                <div class="fn-tar fn-mt20">
##                    <a class="ui-btn ui-btn-fill ui-btn-green addLine" templateid="TMP_POLICYINFO" href="javascript:void(0);"><i class="icon icon-add"></i>新增一行</a>
##                </div>
            </div>
        </div>

        <div class="m-blank fn-mt20 fn-mb20"></div>
        <div class="fn-tac fn-pt20 fn-pb20">
##            <input class="ui-btn ui-btn-submit ui-btn-next fn-ml5 fn-mr5 submitBtn" type="button" value="提交"/>
            <a href="/insurance/xxxx.htm" class="ui-btn ui-btn-submit ui-btn-back fn-ml5 fn-mr5">返回</a>
        </div>

    </form>
</div>
    #parse("/layout/common/footer.vm")
    #parse("/layout/common/commonjs.vm")
<script>
    seajs.use($_GLOBAL.zyw+'/customer/addPerson');
</script>

</body>
</html>