<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    #parse("/layout/common/head.vm")
    <link type="text/css" href="/styles/tmbp/project1.css" rel="stylesheet">
    <title>企业客户</title>
</head>
<body>
<div class="ui-breadcrumb">
    &nbsp;客户管理&nbsp;&gt;&nbsp;个人客户&nbsp;&gt;&nbsp;个人客户信息跟踪
</div>
<div class="m-main border ui-bg-fff fn-clear fn-pb20">
    <form action="/insurance/customer/person/listPersonTrace.htm" id="fnListSearchForm">
        <input class="ui-text fn-w200 fnInput" type="hidden" name="customerId" id="customerId" value="$!{userId}"  />
        <input class="ui-text fn-w200 fnInput" type="hidden" name="userName" id="userName" value="$!{userName}"  />
        <h2 class="m-htitle fn-mt30 fn-mb30 modTitle"><span>客户信息跟踪记录</span></h2>
        <table class="m-table fn-tac">
            <thead>
            <tr id="fnListSearchTh">
                <th>序号</th>
                <th>详细内容</th>
                <th>记录时间</th>
                <th>记录人</th>
            </tr>
            </thead>
            <tbody>
                #foreach($item in $page.result)
                <tr>
                    <td>	$!{velocityCount} </td>
                    <td>	$!{item.remark} </td>
                    <td>	$!dateUtil.simpleFormat($!{item.rawAddTime}) </td>
                    <td>	$!{item.creatorName} </td>
##                    <td>	$!{item.contactMan} </td>
                </tr>
                #end
            </tbody>
        </table>
      #parse("/layout/common/pages.vm")

    </form>
    <form action="/insurance/customer/person/addCustomerInfoTraceSubmit.json"  method="POST" callbackhref="/insurance/customer/person/listPersonTrace.htm?userId=$!{userId}" >
        <h2 class="m-htitle fn-mt30 fn-mb30 modTitle"><span>客户信息跟踪</span></h2>
        <input class="ui-text fn-w200 fnInput" type="hidden" name="userId" id="userId" value="$!{userId}"  />
        <input class="ui-text fn-w200 fnInput" type="hidden" name="userName" id="userName" value="$!{userName}"  />
        <div class="fn-clear">
            <div class="m-item">
                <label class="m-label"><span class="m-required">*</span>请输入跟踪内容：</label>
                <textarea name="remark" class="ui-textarea audit-textarea"></textarea>
            </div>
        </div>
        <div class="fn-blank20"></div>
        <div class="m-blank fn-mt20 fn-mb20"></div>
        <div class="fn-tac fn-pt20 fn-pb30">
            <input class="ui-btn ui-btn-submit ui-btn-next fn-ml5 fn-mr5 submitBtn" type="button" value="提交">
            <a href="/insurance/customer/person/list.htm" class="ui-btn ui-btn-submit  fn-ml5 fn-mr5 toCanleOpt">返回</a>
        </div>
    </form>
</div>
    #parse("/layout/common/footer.vm")
    #parse("/layout/common/commonjs.vm")
<script type="text/javascript">
    seajs.use($_GLOBAL.zyw+'/customer/customerPerson');
</script>
</body>
</html>