<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    #parse("/layout/common/head.vm")
    <link type="text/css" href="/js/ztree/css/zTreeStyle/zTreeStyle.css" rel="stylesheet">
    <link type="text/css" href="/styles/tmbp/project4.css" rel="stylesheet">
    <title>费用政策</title>
</head>
<style>
    .newStyle>span{

    }
</style>
<body>

<div class="ui-breadcrumb">
    &nbsp;资源管理&nbsp;&gt;&nbsp;费用政策&nbsp;&gt;&nbsp;#if($!{info.protocolId}>0) 编辑 #else 新增 #end 费用政策
</div>

<h2 class="m-h2-title">#if($!{info.protocolId}>0) 编辑 #else 新增 #end 费用政策</h2>

<div class="fn-blank20"></div>

<div class="m-main border ui-bg-fff">

    <form id="form" action="/insurance/insuranceProtocol/editSubmit.json" method="POST">
               <input class="ui-text fn-w200 fnInput fnRequired" type="hidden" name="name" id="name" value="费用政策">
            <input class="ui-text fn-w200 fnInput fnRequired" type="hidden" name="no" id="no" value="费用政策">
        <input class="ui-text fn-w200 fnInput fnRequired" type="hidden" name="type" id="type" value="INSURANCE_EXPENSE">
        <input class="ui-text fn-w200 fnInput fnRequired" type="hidden" name="protocolId" id="protocolId"
               value="$!{info.protocolId}">


        <div class="m-item">
            <label class="m-label"><span class="m-required">*</span>保险公司：</label>
            <input type="hidden" name="protocolUserId" id="protocolUserId" value="$!{info.protocolUserId}"/>
            <input class="ui-text fn-w200 fnInput fnRequired" type="text" name="protocolUserName" id="protocolUserName"
                   value="$!{info.protocolUserName}"/>
            <a class="ui-btn ui-btn-fill ui-btn-blue testClass" single="true" id="fnListContractingAgency"
               name="fnListContractingAgency">选择</a>
            <a class="ui-btn ui-btn-fill ui-btn-gray fnListSearchClear" id="fnListContractingAgencyClear"
               name="fnListContractingAgencyClear">清除</a>
            <div style="position: relative">
                <div  class="ztree ztreeDemo fn-w200" id="menuContent">
                    <ul id="ztreeDemo"></ul>
                </div>
            </div>

        </div>
##        <div class="m-item">
##            <label class="m-label">分支机构：</label>
##            <select class="fn-w200" style="height: 30px;    border: 1px solid #ccc; border-radius: 2px;">
##                <option>请选择</option>
##            </select>
##        </div>


        <div class="m-item">
            <label class="m-label"><span class="m-required">*</span>适用业务部门：</label>
            <input class="ui-text fn-w200 fnInput" type="hidden" name="contractingAgencyId" id="contractingAgencyId"
                   value="$!{info.contractingAgencyId}"/>
            <input class="ui-text fn-w200 fnInput" type="text" name="contractingAgencyName" id="contractingAgencyName"
                   value="$!{info.contractingAgencyName}"/>
            <a class="ui-btn ui-btn-fill ui-btn-blue fnListSearchOrgChoose" single="true"
               id="contractingAgencyId">选择</a>
            <a class="ui-btn ui-btn-fill ui-btn-gray fnListSearchClear">清除</a>
        </div>


        <div class="m-item ">
            <label class="m-label"><span class="m-required">*</span>费用政策：</label>
            <div class="fn-p-reb" style="border:solid 1px #eee;padding:20px 0;">
                <a class="ui-btn ui-btn-fill ui-btn-green fn-left fn-mb5 sellScope fnAddLine" tplID="t-catalog"
                   cttID="sellScopeList" style="margin-left:2%;"><i class="icon icon-add"></i>添加信息</a>
                <table class="m-table">
                    <thead>
                    <tr>
                        <th>保险分类</th>
                        <th>产品名称</th>
                        <th>费用比例</th>
                        <th>首期</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody id="sellScopeList">

                        #if($listUtil.isNotEmpty($info.protocolInfoInfos))
                            #foreach($item in $info.protocolInfoInfos)
                            <tr class="fnNewLine" ordername="infoOrders">
                                <td class="fn-text-c">
                                    <div class="selectFnBox1">
                                    <span class="ui-text fn-w200 fnInput selectFn fn-text-overflow">
                                        <label>$!{item.catalogName}</label>
                                        <i class="icon icon-select-down"></i>
                                        <input type="hidden" name="catalogId" class="catalogId"
                                               value="$!{item.catalogId}">##隐藏域，存放当前分类的id，多个存在建议使用class
                                        <input type="hidden" name="catalogName" class="catalogName"
                                               value="$!{item.catalogName}">
                                     </span>
                                        <div class="selectRslt fn-p-abs fn-usn">
                                        </div>
                                    </div>
                                </td>
                                <td class="fn-text-c fn-p-reb productTD">
                                    <input type="text" name="productName" class="text productName"
                                           value="$!{item.productName}" readonly>
                                    <input type="hidden" name="productId" class="productId" value="$!{item.productId}">
                                    <input type="hidden" name="lifeInsurance" class="lifeInsurance" value="$!{item.lifeInsurance}" >

                                    <a class="ui-btn ui-btn-fill ui-btn-blue fn-p-abs productBtn"
                                       style="top:5px;right:60px">选择</a>
                                    <a class="ui-btn ui-btn-fill ui-btn-gray fn-p-abs clearBtn"
                                       style="top:5px;right:5px">清除</a>
                                </td>
                                <td class="fn-text-c">
                                    <a class="setingRatio" href="javascript:void(0)">设置业务员佣金</a>
                                    <input type="hidden" name="chargeInfo" class="setingRatioArr"
                                           value='$!{item.chargeInfo}'>
                                </td>
                                <td class="fn-text-c">
                                    <input class="text firstNo" type="text" name="firstPeriod" value="$!{item.firstPeriod}">
                                </td>
                                <td class="fn-text-c">
                                    <a href="javascript:void(0);" class="ui-btn ui-btn-fill ui-btn-green fnDelLine"
                                       parentsClass="fnNewLine">删除</a>
                                </td>
                            </tr>
                            #end
                        #else
                        <tr class="fnNewLine" ordername="infoOrders">
                            <td class="fn-text-c">
                                <div class="selectFnBox1">
                                    <span class="ui-text fn-w200 fnInput selectFn fn-text-overflow">
                                        <label>请选择</label>
                                        <i class="icon icon-select-down"></i>
                                        <input type="hidden" name="catalogId" class="catalogId"
                                               value="0">##隐藏域，存放当前分类的id，多个存在建议使用class
                                        <input type="hidden" name="catalogName" class="catalogName">
                                     </span>
                                    <div class="selectRslt fn-p-abs fn-usn">
                                    </div>
                                </div>
                            </td>
                            <td class="fn-text-c fn-p-reb productTD">
                                <input type="text" name="productName" class="text productName" readonly>
                                <input type="hidden" name="productId" class="productId" value="0">
                                <input type="hidden" name="lifeInsurance" class="lifeInsurance">

                                <a class="ui-btn ui-btn-fill ui-btn-blue fn-p-abs productBtn"
                                   style="top:5px;right:60px">选择</a>
                                <a class="ui-btn ui-btn-fill ui-btn-gray fn-p-abs clearBtn"
                                   style="top:5px;right:5px">清除</a>
                            </td>
                            <td class="fn-text-c">
                                <a class="setingRatio" href="javascript:void(0)">设置业务员佣金</a>
                                <input type="hidden" name="chargeInfo" class="setingRatioArr"
                                       value=''>
##                                {"data": [{"timeLimit": "1","periods": ["12", "123", "123"]}, {"timeLimit": "3","periods": ["321", "321"]}],"maxLength": "3"}
                            </td>
                            <td class="fn-text-c">
                                <input class="text firstNo" type="text" name="firstPeriod">
                            </td>
                            <td class="fn-text-c">
                                <a href="javascript:void(0);" class="ui-btn ui-btn-fill ui-btn-green fnDelLine"
                                   parentsClass="fnNewLine">删除</a>
                            </td>
                        </tr>
                        #end


                    </tbody>
                </table>
            </div>
        </div>
        <div class="m-item">
            <label class="m-label"><span class="m-required">*</span>协议期：</label>
            <input class="ui-text fn-w200 laydate-icon fnChangeInput fn-validate fnInput appendAfterEle" type="text"
                   name="beginDate" id="beginDate" value="$dateUtil.simpleFormat($!{info.beginDate})"
                   onclick="laydate({istime: true,format: 'YYYY-MM-DD'})">
            <span>-</span>
            <input class="ui-text fn-w200 laydate-icon fnChangeInput fn-validate fnInput appendAfterEle" type="text"
                   name="endDate" id="endDate" value="$dateUtil.simpleFormat($!{info.endDate})" onclick="laydate({istime: true,format: 'YYYY-MM-DD'})">
        </div>
        <script type="text/html" id="t-catalog">
            <tr class="fnNewLine" ordername="infoOrders">
                <td class="fn-text-c">
                    <div class="selectFnBox1">
                        <span class="ui-text fn-w200 fnInput selectFn fn-text-overflow">
                            <label>请选择</label>
                            <i class="icon icon-select-down"></i>
                            <input type="hidden" name="catalogId" class="catalogId"
                                   value="0">##隐藏域，存放当前分类的id，多个存在建议使用class
                            <input type="hidden" name="catalogName" class="catalogName">
                        </span>
                        <div class="selectRslt fn-p-abs fn-usn">
                        </div>
                    </div>
                </td>
                <td class="fn-text-c fn-p-reb productTD">
                    <input type="text" name="productName" class="text productName" readonly>
                    <input type="hidden" name="productId" class="productId" value="0">
                    <input type="hidden" name="lifeInsurance" class="lifeInsurance">

                    <a class="ui-btn ui-btn-fill ui-btn-blue fn-p-abs productBtn" style="top:5px;right:60px">选择</a>
                    <a class="ui-btn ui-btn-fill ui-btn-gray fn-p-abs clearBtn" style="top:5px;right:5px">清除</a>
                </td>
                <td class="fn-text-c">
                    <a class="setingRatio" href="javascript:void(0)">设置业务员佣金</a>
                    <input type="hidden" name="chargeInfo" class="setingRatioArr" value=''>
                </td>
                <td class="fn-text-c">
                    <input class="text firstNo" type="text" name="firstPeriod">
                </td>
                <td class="fn-text-c">
                    <a href="javascript:void(0);" class="ui-btn ui-btn-fill ui-btn-green fnDelLine"
                       parentsClass="fnNewLine">删除</a>
                </td>
            </tr>
        </script>

        <script type="text/html" id="selectProductPopup">
            <div class="newPopup">
                <span class="close">×</span>
                <dl>
                    <dt class="dt"><span>选择产品</span></dt>
                    <dd class="fn-mt10">
                        <div id="PopupFrom" class="fn-mb10">
                            <div id="selectFnBox1" class="selectFnBox2" style="float: left;position: relative;">
                                <span style="transform: translate(0%,-50%); ">保险分类：</span>
                                    <span class="ui-text fn-w200 fnInput selectFn  fn-text-overflow" style="position: relative; width: 100px; margin: 0 auto;">
                                        <label>$!{item.catalogName}</label>
                                        <i class="icon icon-select-down"></i>
                                        <input type="hidden" name="catalogId" class="catalogId"
                                               value="$!{item.catalogId}">##隐藏域，存放当前分类的id，多个存在建议使用class
                                        <input type="hidden" name="catalogName" class="catalogName"
                                               value="$!{item.catalogName}">
                                     </span>
                                <div class="selectRslt fn-p-abs fn-usn">
                                </div>
                            </div>

                            产品名称：
                            <input class="ui-text fn-w90 fn-mr20" type="text" name="productName">
                            <a class="ui-btn ui-btn-fill ui-btn-seek" id="PopupSubmit">搜索</a>
                        </div>
                        <table class="m-table" style="width:540px;margin:0;" border="1">
                            <thead>
                            <tr>
                                <th><input type="checkbox"></th>
                                <th>产品名称</th>
                                <th>保险公司</th>
                                <th>保险分类</th>
##                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>

                            {{if success}}

                            {{each data.pageList as value i}}
                            <tr>
                                <td class="fn-text-c onbreak"><input type="checkbox" name="checkbox" class="chooseBox" productName="{{value.productName}}"
                                                                     companyUserName="{{value.companyUserName}}"
                                                                     lifeInsurance = "{{value.lifeInsurance}}"

                                                                     productId="{{value.productId}}"></td>
                                <td class="fn-text-c onbreak">{{value.productName}}</td>
                                <td class="fn-text-c onbreak">{{value.companyUserName}}</td>
                                <td class="fn-text-c onbreak">保险分类</td>
##                                <td class="fn-text-c onbreak"><a class="fn-csp choose"
##                                                                 productName="{{value.productName}}"
##                                                                 companyUserName="{{value.companyUserName}}"
##                                                                 productId="{{value.productId}}">[选择]</a></td>
                            </tr>

                            {{/each}}

                            {{else}}

                            <tr>
                                <td class="fn-text-c" colspan="6">{{message}}</td>
                            </tr>

                            {{/if}}

                            </tbody>

                        </table>
                        <div class="fn-tac fn-pt20 fn-pb20">
                            <input class="ui-btn ui-btn-submit ui-btn-next fn-ml5 fn-mr5 chooseBtn" type="button" value="确定">
                            <a href="javascript:void(0);" class="ui-btn ui-btn-submit ui-btn-back fn-ml5 fn-mr5 close" onclick="">取消</a>
                        </div>

                        {{if success}}

                        <div class="pageBox fn-text-r fn-mt5">

                            第{{data.pageNumber}}页，共{{data.pageCount}}页，合计{{data.totalCount}}条&nbsp;|&nbsp;

                            {{if data.pageNumber<2}}
                            <a class="disabled">首页</a>
                            <a class="disabled">上一页</a>
                            {{else}}
                            <a class="btn" page="1" href="javascript:void(0);">首页</a>
                            <a class="btn" page="{{data.pageNumber-1}}" href="javascript:void(0);">上一页</a>
                            {{/if}}

                            {{if data.pageNumber+1>data.pageCount}}
                            <a class="disabled">下一页</a>
                            <a class="disabled">尾页</a>
                            {{else}}
                            <a class="btn" page="{{data.pageNumber+1}}" href="javascript:void(0);">下一页</a>
                            <a class="btn" page="{{data.pageCount}}" href="javascript:void(0);">尾页</a>
                            {{/if}}

                        </div>

                        {{/if}}

                    </dd>
                </dl>
            </div>
        </script>

        <script type="text/html" id="setingRatioPopup">
            <div class="newPopup">
                <span class="close">×</span>
                <dl>
                    <dt class="dt"><span>设置业务员佣金</span></dt>
                    <dd class="fn-mt10" style="position: relative;">
                        <table class="m-table" border="1">
                            <thead>
                            <tr>
                                <th style="padding:0;width:120px;height:45px;" class="onbreak">
                                    <div class="tableOut">
                                        <b>期数</b>
                                        <em>缴费年限(年)</em>
                                    </div>
                                </th>
                                {{if maxLength.length}}
                                {{each maxLength as value i}}
                                {{if i==0}}
                                <th>首期</th>
                                {{else}}
                                <th class="fn-p-reb onbreak">第{{i+1}}期<span class="recordDelete rowDelete">━</span></th>
                                {{/if}}
                                {{/each}}
                                {{else}}
                                <th>首期</th>
                                {{/if}}

                            </tr>
                            </thead>##{data: [{timeLimit: 1,periods: [123, 123, 123]}, {timeLimit: 3,periods: [321, 321]}],maxLength: 3}
                            <tbody>
                            {{if data.length}}
                            {{each data as value i}}
                            <tr {{if !!newly && newly[i]}} class="new" {{/if}}>
                            <td class="fn-text-c fn-p-reb">
                                <input type="text" class="text fnMakeNumber norepeat" value="{{value.timeLimit}}">##
                                {{if !!newly && newly[i]}}
                                <span class="recordDelete colDelete">━</span>
                                {{/if}}
                            </td>
                            {{if value['periods'].length}}
                            {{each maxLength as tdVal j}}
                            <td class="fn-text-c"><input class="text fnMakeMoney" type="text" name=""
                                                         value="{{value['periods'][j]?value['periods'][j]:''}}"></td>
                            {{/each}}
                            {{/if}}
                            </tr>
                            {{/each}}
                            {{else}}
                            <tr>
                                <td><input class="text norepeat" type="text" name=""></td>
                                <td><input class="text fnMakeMoney" type="text" name=""></td>
                            </tr>
                            {{/if}}

                            </tbody>
                        </table>


                        <div class="fn-clear fn-text-c">

                            <div class="fn-mt10" style="position: absolute;top: 0;right: -15px;">
                                <a class="ui-btn colBtn"><i class="icon icon-add"></i></a>
                            </div>
                            <div class="fn-mt10" style="position: absolute; bottom: 50px; left: -15px;">
                                <a class="ui-btn rowBtn"><i class="icon icon-add"></i></a>
                            </div>
                            <div class="fn-mt10">
##                                <a class="ui-btn ui-btn-fill ui-btn-blue fn-mr20 colBtn">增加期数</a>
##                                <a class="ui-btn ui-btn-fill ui-btn-blue fn-mr20 rowBtn">增加缴费期限</a>
                                <a class="ui-btn ui-btn-fill ui-btn-green fn-mr20 okBtn">确认</a>
                                <a class="ui-btn ui-btn-fill ui-btn-gray close">取消</a>
                            </div>

                        </div>

                    </dd>
                </dl>
            </div>
        </script>


        <div class="m-blank fn-mt20 fn-mb20"></div>
        <div class="fn-tac fn-pt20 fn-pb20">
            <input class="ui-btn ui-btn-submit ui-btn-next fn-ml5 fn-mr5 submit" type="button" value="提交">
            <a href="/insurance/xxxx.htm" class="ui-btn ui-btn-submit ui-btn-back fn-ml5 fn-mr5">返回</a>
        </div>

    </form>

</div>

    #parse("/layout/common/footer.vm")
    #parse("/layout/common/commonjs.vm")
<script src="/js/laydate/laydate.js"></script>
<script type="text/javascript" src="/js/ztree/js/jquery.ztree.all.min.js"></script>
<script>
    seajs.use($_GLOBAL.zyw+'/insuranceProtocol/addInsuranceProtocol');
</script>

</body>
</html>