<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
#parse("/layout/common/head.vm")
<link type="text/css" href="/styles/tmbp/project4.css" rel="stylesheet">
<title>xxxx - 新增</title>
</head>
<body>

<div class="ui-breadcrumb">
    &nbsp;xxxx&nbsp;&gt;&nbsp;xxxx&nbsp;&gt;&nbsp;xxxx
</div>

<h2 class="m-h2-title">xxxx</h2>

<div class="fn-blank20"></div>

<div class="m-main border ui-bg-fff">
    
    <form id="form" action="/insurance/xxxx.json" method="POST">
			 	<div class="m-item">
            <label class="m-label"><span class="m-required">*</span>：</label>
            <input class="ui-text fn-w200 fnInput fnRequired" type="text" name="rawAddTime" id="rawAddTime" value="" maxlength="20">
        </div>
			 	<div class="m-item">
            <label class="m-label"><span class="m-required">*</span>业务员：</label>
            <input class="ui-text fn-w200 fnInput fnRequired" type="text" name="businessUserName" id="businessUserName" value="" maxlength="20">
        </div>
			 	<div class="m-item">
            <label class="m-label"><span class="m-required">*</span>业务员：</label>
            <input class="ui-text fn-w200 fnInput fnRequired" type="text" name="businessUserId" id="businessUserId" value="" maxlength="20">
        </div>
			 	<div class="m-item">
            <label class="m-label"><span class="m-required">*</span>id：</label>
            <input class="ui-text fn-w200 fnInput fnRequired" type="text" name="settlementPersonId" id="settlementPersonId" value="" maxlength="20">
        </div>
			 	<div class="m-item">
            <label class="m-label"><span class="m-required">*</span>佣金：</label>
            <input class="ui-text fn-w200 fnInput fnRequired" type="text" name="commissionAmount" id="commissionAmount" value="" maxlength="20">
        </div>
			 	<div class="m-item">
            <label class="m-label"><span class="m-required">*</span>保单号：</label>
            <input class="ui-text fn-w200 fnInput fnRequired" type="text" name="insuranceNo" id="insuranceNo" value="" maxlength="20">
        </div>
			 	<div class="m-item">
            <label class="m-label"><span class="m-required">*</span>直接推荐费：</label>
            <input class="ui-text fn-w200 fnInput fnRequired" type="text" name="directAmount" id="directAmount" value="" maxlength="20">
        </div>
			 	<div class="m-item">
            <label class="m-label"><span class="m-required">*</span>间接推荐费：</label>
            <input class="ui-text fn-w200 fnInput fnRequired" type="text" name="indirectAmount" id="indirectAmount" value="" maxlength="20">
        </div>
			 	<div class="m-item">
            <label class="m-label"><span class="m-required">*</span>业务员类型：</label>
            <input class="ui-text fn-w200 fnInput fnRequired" type="text" name="businessUserType" id="businessUserType" value="" maxlength="20">
        </div>
			 	<div class="m-item">
            <label class="m-label"><span class="m-required">*</span>：</label>
            <input class="ui-text fn-w200 fnInput fnRequired" type="text" name="rawUpdateTime" id="rawUpdateTime" value="" maxlength="20">
        </div>
			 	<div class="m-item">
            <label class="m-label"><span class="m-required">*</span>结算佣金：</label>
            <input class="ui-text fn-w200 fnInput fnRequired" type="text" name="drawAmount" id="drawAmount" value="" maxlength="20">
        </div>
		      
        

        <div class="m-blank fn-mt20 fn-mb20"></div>
        <div class="fn-tac fn-pt20 fn-pb20">
            <input class="ui-btn ui-btn-submit ui-btn-next fn-ml5 fn-mr5 submit" type="button" value="提交">
            <a href="/insurance/xxxx.htm" class="ui-btn ui-btn-submit ui-btn-back fn-ml5 fn-mr5">返回</a>
        </div>

    </form>

</div>

#parse("/layout/common/footer.vm")
#parse("/layout/common/commonjs.vm")
#parse("/layout/common/commonue.vm")
<script src="/js/laydate/laydate.js"></script>
<script>
    //seajs.use($_GLOBAL.zyw+'/project/rkct.rkwn.add');
</script>

</body>
</html>