<input type="hidden" name="id" value="$!{info.id}"/>
<input type="hidden" name="formId" value="$!{info.formId}"/>
<style>
    .tabContent{
        width: 90%;
        margin: 0 auto;
        overflow-x: auto;
    }
    table{
        width: 100%;
        margin: 20px auto;
        border: 1px solid #d1d1d1;
    }
    th,td{
        padding: 8px;
        border: 1px solid #d1d1d1;
    }
    .data>td{

        text-align: left;
    }
    
    td>input{
        width: 60px;
        border: 0;
        border-bottom: 1px solid #b9e2d4;
        outline:none;
    }
</style>

<div class="tabContent">
    <table>
        <tr>
            <th colspan="16" style="font-size: 24px">$!{info.insuranceTypeName}费用结算通知单</th>
        </tr>
        <tr class="data">
            <td colspan="5">部门:$!{info.depart}</td>
            <td colspan="5">日期:$dateUtil.simpleFormat($!{info.rowAddTime})</td>
            <td colspan="6">结算单号:$!{info.noticeNo}</td>
        </tr>
		<tr>
			<th rowspan="2">业务编号</th>
			<th rowspan="2">经纪人工号</th>
			<th rowspan="2">经纪人姓名</th>
			<th rowspan="2">保单号码</th>
			<th rowspan="2">原保费</th>
			<th rowspan="2">保险公司</th>
			<th colspan="2">费用收取</th>
			<th colspan="7">费用支付</th>
			<th rowspan="2">预留比率</th>
		</tr>
		<tr>
			<th>应收</th>
			<th>已收</th>
			<th>佣金类别</th>
			<th>佣金</th>
			<th>继续率奖金</th>
			<th>管理津贴</th>
			<th>方案费</th>
			<th>其他</th>
			<th>合计</th>
		</tr>
		<tr>
			<td>$!{info.billNo}</td>
			<td>$!{info.insuranceBrokerNo}</td>
			<td>$!{info.insuranceBrokerName}</td>
			<td>$!{info.insuranceNo}</td>
			<td>$!{info.premiumAmount}</td>
			<td>$!{info.billCustomerName}</td>
			<td>$!{info.recievableFee}</td>
			<td>#if($!edit)<input class="text fn-w100 fn-validate fnMakeMoney" type="text" name="recievedFee"value="$!info.recievedFee">  #else $!{info.recievedFee} #end</td>
			<td>
				<select class="ui-select fn-w100" name="commissionType">
					<option value="1" #if($!info.commissionType == 1) selected #end>寿险佣金</option>
					<option value="2" #if($!info.commissionType == 2) selected #end>团险佣金</option>
				</select>
			</td>
			<td id="payFee">$!{info.payFee}</td>
			<td>#if($!edit)<input class="text fn-w60 fn-validate fnMakeMoney addResult" type="text" name="persistencyRateWard"value="$!info.persistencyRateWard">  #else $!{info.persistencyRateWard} #end</td>
			<td>#if($!edit)<input class="text fn-w60 fn-validate fnMakeMoney addResult" type="text" name="manageGrant"value="$!info.manageGrant">  #else $!{info.manageGrant} #end</td>
			<td>#if($!edit)<input class="text fn-w60 fn-validate fnMakeMoney addResult" type="text" name="packageFee"value="$!info.packageFee">  #else $!{info.packageFee} #end</td>
			<td>#if($!edit)<input class="text fn-w60 fn-validate fnMakeMoney addResult" type="text" name="insuranceOther"value="$!info.insuranceOther">  #else $!{info.insuranceOther} #end</td>
			<td><input id="result" type="text" class="text fn-w60 fnMakeMoney" value="$!result" disabled/></td>
			<td>$!{info.reservedScale}</td>
		</tr>
    </table>
</div>
