<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
    <style type="text/css">

    </style>
</head>
<body>
<div id="log_layout" class="easyui-layout" fit="true"  style="width:auto;height:auto">
	<div data-options="region:'center',split:true,border:false" >			
	<table id="log_dr" class="easyui-datagrid" fit="true" border=0 style="width:auto;height:auto;" >
	<thead>
	<tr>
	<th data-options="field:'time',width:150">时间</th>
	<th data-options="field:'id',width:150">类型</th>
	<th data-options="field:'desc',width:300">描述</th>
	</tr>
	</thead>
	</table>
	</div>
</div>
</body>
</html>
