<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    #parse("/layout/common/head.vm")
    <link type="text/css" href="/styles/tmbp/project4.css" rel="stylesheet">
    <title>询价联络函-通用 - 新增</title>
</head>
<body>

<div class="ui-breadcrumb">
    &nbsp;保险经纪&nbsp;&gt;&nbsp;询价方案&nbsp;&gt;&nbsp;询价联络函-通用
</div>

<h2 class="m-h2-title">通用</h2>

<div class="fn-blank20"></div>

<div class="m-main border ui-bg-fff">

    <form id="form" action="/insurance/priceContactLetter/editSubmit.json"  process="true" method="POST" callbackHref="/insurance/priceContactLetter/list.htm">
        #if($!{isEdit}=="Y")
            #parse("/layout/insurance/priceContactLetter/addHeadDemand.vm")
        #end
        <div class="priceTemplateConent parentDiyNameBox"></div>
        #foreach($demandInfo in $info.demandInfos)
            #if($demandInfo.demandType=="carTemplate")
                #parse("/layout/insurance/priceContactLetter/addCarDemand.vm")
            #elseif($demandInfo.demandType=="placeTemplate")
                #parse("/layout/insurance/priceContactLetter/addPlaceDemand.vm")
            #elseif($demandInfo.demandType=="goodsTemplate")
                #parse("/layout/insurance/priceContactLetter/addGoodsDemand.vm")
            #elseif($demandInfo.demandType=="passengerTemplate")
                #parse("/layout/insurance/priceContactLetter/addPassengerDemand.vm")
            #elseif($demandInfo.demandType=="goodsProtocolTemplate")
                #parse("/layout/insurance/priceContactLetter/addGoodsProtocolDemand.vm")
            #elseif($demandInfo.demandType=="employeeTemplate")
                #parse("/layout/insurance/priceContactLetter/addEmployeeDemand.vm")
            #elseif($demandInfo.demandType=="shipTemplate")
                #parse("/layout/insurance/priceContactLetter/addShipDemand.vm")
            #elseif($demandInfo.demandType=="productLiabilityTemplate")
                #parse("/layout/insurance/priceContactLetter/addProductLiabilityDemand.vm")
            #elseif($demandInfo.demandType=="professionalDutyTemplate")
                #parse("/layout/insurance/priceContactLetter/addProfessionalDutyDemand.vm")
            #elseif($demandInfo.demandType=="shipBuildTemplate")
                #parse("/layout/insurance/priceContactLetter/addShipBuildDemand.vm")
            #elseif($demandInfo.demandType=="assetsTemplate")
                #parse("/layout/insurance/priceContactLetter/addAssetsDemand.vm")
            #elseif($demandInfo.demandType=="projectTemplate")
                #parse("/layout/insurance/priceContactLetter/addProjectDemand.vm")
            #elseif($demandInfo.demandType=="onceGoodsProtocolTemplate")
                #parse("/layout/insurance/priceContactLetter/addOneGoodsProtocolDemand.vm")
            #end

        #end
        #set($showPriceCompany = false)
        #if($!{isEdit}=="Y")
           #parse("/layout/insurance/priceContactLetter/addPriceAskCompany.vm")
        #end

        <div style="margin: 20px 2%;">
            <a class="ui-btn ui-btn-fill ui-btn-blue addPriceTemplate" templateid="TMP_ADDPRICETEMPLATE" href="javascript:void(0);"><i class="icon icon-add"></i>添加询价标的类型</a>
        </div>
        #if($!{isEdit}!="Y")
            #set($showPriceCompany = true)
            #parse("/layout/insurance/priceContactLetter/addPriceAskCompany.vm")
        #end


        <div class="m-blank fn-mt20 fn-mb20"></div>
        <div class="fn-tac fn-pt20 fn-pb20">
            <input class="ui-btn ui-btn-submit ui-btn-next fn-ml5 fn-mr5 submitBtn DRAFT" type="button" value="暂存">
            <input class="ui-btn ui-btn-submit ui-btn-next fn-ml5 fn-mr5 submitBtn" type="button" value="提交">
            <a href="/insurance/xxxx.htm" class="ui-btn ui-btn-submit ui-btn-back fn-ml5 fn-mr5">返回</a>
        </div>

    </form>

</div>
<script type="text/html" id="carTemplate">
    #parse("/layout/insurance/priceContactLetter/addCarDemand.vm")
</script>
<script type="text/html" id="placeTemplate">
    #parse("/layout/insurance/priceContactLetter/addPlaceDemand.vm")
</script>
<script type="text/html" id="goodsTemplate">
    #parse("/layout/insurance/priceContactLetter/addGoodsDemand.vm")
</script>
<script type="text/html" id="passengerTemplate">
    #parse("/layout/insurance/priceContactLetter/addPassengerDemand.vm")
</script>
<script type="text/html" id="goodsProtocolTemplate">
    #parse("/layout/insurance/priceContactLetter/addGoodsProtocolDemand.vm")
</script>
<script type="text/html" id="employeeTemplate">
    #parse("/layout/insurance/priceContactLetter/addEmployeeDemand.vm")
</script>
<script type="text/html" id="shipTemplate">
    #parse("/layout/insurance/priceContactLetter/addShipDemand.vm")
</script>
<script type="text/html" id="productLiabilityTemplate">
    #parse("/layout/insurance/priceContactLetter/addProductLiabilityDemand.vm")
</script>
<script type="text/html" id="professionalDutyTemplate">
    #parse("/layout/insurance/priceContactLetter/addProfessionalDutyDemand.vm")
</script>
<script type="text/html" id="shipBuildTemplate">
    #parse("/layout/insurance/priceContactLetter/addShipBuildDemand.vm")
</script>
<script type="text/html" id="assetsTemplate">
    #parse("/layout/insurance/priceContactLetter/addAssetsDemand.vm")
</script>
<script type="text/html" id="projectTemplate">
    #parse("/layout/insurance/priceContactLetter/addProjectDemand.vm")
</script>
<script type="text/html" id="onceGoodsProtocolTemplate">
    #parse("/layout/insurance/priceContactLetter/addOneGoodsProtocolDemand.vm")
</script>
<script type="text/html" id="TMP_ADDPRICETEMPLATE">
    <div class="m-modal m-modal-default view-files renewalPaymentBody" style="width: 430px;height: 140px;min-height: 140px;">
        <div class="m-modal-title"><span class="m-modal-close closeBtn">&times;</span><span class="title">添加询价标的类型</span></div>
        <div class="m-modal-body fn-tac" style="height: 140px;">
            <div class="view-files-body">
                <select class="ui-select fn-w200 fn-validate fn-mt30" name="priceTemplate" aria-required="true" aria-invalid="false">
                    <option value="carTemplate">询价联络函-车辆</option>
                    <option value="placeTemplate">询价联络函-场所责任</option>
                    <option value="goodsTemplate">询价联络函-货物承运人</option>
                    <option value="passengerTemplate">询价联络函-客运承运人</option>
                    <option value="goodsProtocolTemplate">询价联络函-货运协议</option>
                    <option value="employeeTemplate">询价联络函-雇员</option>
                    <option value="shipTemplate">询价联络函-船舶</option>
                    <option value="productLiabilityTemplate">询价联络函-产品责任</option>
                    <option value="professionalDutyTemplate">询价联络函-职业责任</option>
                    <option value="shipBuildTemplate">询价联络函-在建船舶</option>
                    <option value="assetsTemplate">询价联络函-财产</option>
                    <option value="projectTemplate">询价联络函-工程</option>
                    <option value="onceGoodsProtocolTemplate">询价联络函-单次货运</option>
                </select>
            </div>
            <div class="fn-clear fn-text-c">
                <div class="fn-mt10">
                    <a class="ui-btn ui-btn-fill ui-btn-green fn-mr20 okBtn">确认</a>
                    <a class="ui-btn ui-btn-fill ui-btn-gray closeBtn" title="关闭">取消</a>
                </div>
            </div>
        </div>
    </div>
</script>
    #parse("/layout/common/footer.vm")
    #parse("/layout/common/commonjs.vm")
<script src="/js/laydate/laydate.js"></script>
<script>
    seajs.use($_GLOBAL.zyw+'/priceContactLetter/addCurrencyTemplate');
</script>

</body>
</html>