<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    #parse("/layout/common/head.vm")
    <link type="text/css" href="/styles/tmbp/project4.css" rel="stylesheet">
    <title>询价联络函-雇员 - 新增</title>
</head>
<body>

<div class="ui-breadcrumb">
    &nbsp;保险经纪&nbsp;&gt;&nbsp;询价方案&nbsp;&gt;&nbsp;询价联络函-雇员
</div>

<h2 class="m-h2-title">雇员</h2>

<div class="fn-blank20"></div>

<div class="m-main border ui-bg-fff">

    <form id="form" action="/insurance/priceContactLetter/editSubmit.json"  process="true" method="POST" callbackHref="/insurance/priceContactLetter/list.htm">
        #if($!{isEdit}=="Y")
                #parse("/layout/insurance/priceContactLetter/addHeadDemand.vm")
        #end
        #set($demandInfo=$!{info.demandInfos.get(0)})
        #parse("/layout/insurance/priceContactLetter/addEmployeeDemand.vm")
        #parse("/layout/insurance/priceContactLetter/addPriceAskCompany.vm")

        <div class="m-blank fn-mt20 fn-mb20"></div>
        <div class="fn-tac fn-pt20 fn-pb20">
            <input class="ui-btn ui-btn-submit ui-btn-next fn-ml5 fn-mr5 submitBtn DRAFT" type="button" value="暂存">
            <input class="ui-btn ui-btn-submit ui-btn-next fn-ml5 fn-mr5 submitBtn" type="button" value="提交">
            <a href="/insurance/xxxx.htm" class="ui-btn ui-btn-submit ui-btn-back fn-ml5 fn-mr5">返回</a>
        </div>

    </form>

</div>

    #parse("/layout/common/footer.vm")
    #parse("/layout/common/commonjs.vm")
<script src="/js/laydate/laydate.js"></script>
<script>
    seajs.use($_GLOBAL.zyw+'/priceContactLetter/addEmployeeTemplate');

</script>

</body>
</html>